@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@import "./theme.scss";
@import "./navbar.scss";
@import "./heroSection.scss";
@import "./albumBio.scss";
@import "./musicVideos.scss";

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: url("../../public/img/Johnny-Harpoon-Cover3.png") no-repeat center
    center fixed;
  background-size: 100% 100%;
  object-fit: contain;
}

h2 {
  margin: 0;
}
