.navbar-container {
  .navbar-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h2 {
      margin: 1em 1em;

      &:hover {
        color: #000;
      }
    }
  }
}
